.btn, input, .input-group-addon, textarea, select,
.alert, .well, .list-group, a, .panel, .panel-heading, .panel-body {
	border-radius: 0 !important;
}

table form {
	display: inline !important;
}

form label {
	font-weight: 300;
}