$icomoon-font-path: "fonts" !default;

$icomoon-arrow-1: "\e905";
$icomoon-arrow-2: "\e909";
$icomoon-arrow-3: "\e913";
$icomoon-arrow-4: "\e914";
$icomoon-arrow-5: "\e915";
$icomoon-arrow-6: "\e916";
$icomoon-arrow-7: "\e917";
$icomoon-arrow-8: "\e918";
$icomoon-arrow-9: "\e919";
$icomoon-arrow-10: "\e91a";
$icomoon-arrow-11: "\e91b";
$icomoon-arrow-12: "\e91c";
$icomoon-arrow-13: "\e91d";
$icomoon-arrow-14: "\e91e";

