#products-view {
	.content {
		background-color: nth($bgc1, 3);
		margin: 15px;
		padding: 0;

		#products-container {
			margin-left: -15px;
			padding-left: 15px;
			background-color: nth($bgc1, 3);
			//border-left: 1px solid #DDD;

			.row {
				/* column width */
				-moz-column-width: 15em;
				-webkit-column-width: 15em;
				
				/* space between columns */
				-moz-column-gap: 2px;
				-webkit-column-gap: 2px;

				.item {
					display: inline-block;
					width: 100%;
					//background-color:red;
					padding-right: 15px;

					.panel {
						border-radius: 0;
						border: 0;
						border-bottom: 3px solid #03A9F4;
						box-shadow: 1px 1px 1px rgba(45, 45, 45, .5);
						background-color: #fff !important;

						.edge-corner {
							position: absolute;
							> img {
								max-width: 70px;
							}
						}

						.panel-body {
							padding: 0;
							text-align: center;
							//background-color: #2d2d2d !important;

							img {
								margin: 0;
								max-width: 100%;

								&:hover {
									//opacity: .9;
								}
							}
						}

						.panel-footer {
							padding: 7px;
							background-color: #fff !important;
						}

						.p-name,
						.p-price {
							white-space: nowrap;
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						del {
							opacity: .7;
						}

						.options {
							border-top: 1px solid rgba(45,45,45,.2);
							padding-top: 5px;
							margin: 0 -7px;

							> div {
								display: inline;
								text-align: center;
								padding: 5px 0;
							}

							.add-to-cart > * {
								color: #2d2d2d !important;
								margin: 0 5px;
							}

							.product-details > * {
								color: #2d2d2d !important;
							}
						}
					}
				}
			}

					
		}
	}
}