@import "standards/colors";
@import "standards/static";

@import "pages/dashboard";
@import "pages/site-setting";
@import "pages/products/view";
@import "pages/products/create";
@import "pages/products/show";
@import "pages/products/edit";
@import "pages/products/categories/view";
@import "pages/products/carousel/view";
@import "pages/products/tags/view";
@import "pages/cart/view";
@import "pages/clients/users/view";
@import "pages/clients/admins/view";
@import "pages/translations/view";

%extreme-live-status-btn {
	width: 100%;
	margin-bottom: 3px;
	> span {
		float: right;
		line-height: 17px;
	}
}

%products-images-dropzone {
	.droping {
		position: relative;

		form {
			border: 2px dashed nth($tealColor, 5) !important;

			&:hover {
				background-color: #FAFAFA;
			}
		}

		.dz-message {
			color: nth($tealColor, 5);
		}

		.help1 {
			position: absolute;
			right: 10px;
			bottom: 5px;
			font-size: 18px;
			//background-color: #BBB;
		}

		.dz-set-primary.active {
			font-weight: bold;
		}
	}
}

body {
	background-color: #F0F0F0;

	> .container-fluid {
		margin: 0px;
	}

	@media (max-width: 767px) {
		& { padding-top: 0px; }
	}
}

#left-nav .list-group {
	font-size: 13px;
	//margin-top: -20px;

	.tooltip {
		width: 300px;
		//background-color: #2196F3;

		.tooltip-inner {
			opacity: 0.9;
			padding: 5px 8px !important;
		}
	}
		

	button.expanded {
		margin-bottom: 5px;
		width: 100%;
		background-color: #2d2d2d;
		color: #fff;

		&:hover {
			background-color: rgba(60,60,60,1);
		} 
	}

	a.active {
		background-color: #EEE;
		color: #000;
		border: 1px solid rgba(0,0,0,.1);
		cursor: default;
	}

	.panel {
		margin-bottom: 0;

		.des {
			display: none;
		}

		span[class^="icomoon-"] {
			font-size: 25px;
			vertical-align: middle;
			color: #2d2d2d;
			margin-right: 10px;

			&.pending {
				color: #EF6C00;
			}

			&.accepted {
				color: #43A047;
			}
		}

        .slide-toggle {
            font-size: 100%;
            vertical-align: middle;
        }

		.panel-heading {
			span[class^="icomoon-"] {
				color: #FFF !important;
			}

			//font-weight: bold;
			//border-bottom: 0;
            border-color: #FFF;
			background-color: #2d2d2d;
			color: #FFF;
			font-size: 14px;
		}

		.panel-body {
			padding: 0;
		}

		border: 0;
	}
}

#content {
	margin-left: -1em;
	padding-right: 2px;

	@media (max-width: 767px) {
		& { 
			margin-left: 0;
			padding-right: 1em;
		}
	}

	.panel {
		> .panel-heading {
			color: #FFF;
			font-size: 22px;
			padding: 15px 20px;
			background-color: #2d2d2d;

			a.pull-right,
			button.pull-right {
				margin-right: 5px;
			}
		}
		> .panel-body {
			.container-fluid {
				margin: -15px;

				.empty-content {
					padding: 15px;
				}
			}
		}
	}
}