@import "standards/reset";
@import "standards/colors";
@import "standards/static";

@import "packages/dropzone/style";

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#response-table table,
	#response-table thead,
	#response-table tbody,
	#response-table th,
	#response-table td,
	#response-table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#response-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#response-table tr { border: 1px solid #ccc; }

	#response-table td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;

		&:before {
			position: absolute;
			top: 6px;
			left: 6px;
			padding-right: 10px;

			white-space: nowrap;
			max-width: 50%;
			overflow: hidden;
			text-overflow: ellipsis;


			text-align:left;
			font-weight: bold;
			content: attr(data-title);
		}
	}
}

#navbar-1 {
	padding: 0 15px;
	border-radius: 0;

	.navbar-brand {
		* {
			display: inline;
		}
	}
}

#footer {
	text-align: center;
	margin-top: 50px;
	padding: 20px 0;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
